# Jupyter notebook development requirements
jupyterlab>=3.6.0
jupyterlab-git
jupyterlab-lsp
python-lsp-server[all]
ipywidgets
plotly
bokeh
voila
papermill
nbconvert
jupyter-dash
jupyterlab_widgets
seaborn
altair
dash
streamlit
gradio
shap
lime
captum
optuna
hyperopt
nbformat
nbval
jupyter-contrib-nbextensions